@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #008CAB;
    --primary-color-dark: #003845;
    --primary-color-darker: #00191F;

    --gray: #cfcfcf;
    --gray-dark: #7d7d7d;
    --gray-darker: #4d4d4d;
}

div {
    display: flex;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    resize: none;
}

input, textarea {
    background-color: var(--gray);
    transition: .5s;
}

input:focus-visible, textarea:focus-visible {
    outline: none;
    background-color: white;
}